@tailwind base;
@tailwind components;
@tailwind utilities;

input{
    border: none;
}

input:focus{
    --tw-ring-shadow:none !important;
}


.group{
    border-radius: 12px !important;
}

tr:hover{
    background-color: gainsboro !important;
    cursor: pointer !important;
}

#crd:hover,
#user-name:hover{
    cursor: pointer;
}

select option{
    padding: 5px auto !important;

}
