@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'select2/dist/css/select2.css';

* {
    scroll-behavior: smooth !important;
}

input {
    border: none;
}

input:focus {
    --tw-ring-shadow: none !important;
}


.group {
    border-radius: 12px !important;
}

tr:hover {
    background-color: gainsboro !important;
    cursor: pointer !important;
}

#crd:hover,
#user-name:hover {
    cursor: pointer;
}

select option {
    padding: 5px auto !important;

}

.css-b62m3t-container {
    width: 100% !important;
    height: 100% !important;

}

.css-1mqnzrz-control {

    height: 100% !important;
    width: 100% !important;

}

.css-1qrxvr1-singleValue {
    width: 100% !important;
    height: 100% !important;
    margin: auto !important;
    margin-top: 5px !important;

}